body{
    padding: 0%;
    Margin: 0%;
    background-color:#FAF3E0;;
    font-family:'Times New Roman', Times, serif;
}

.menu {
    background: linear-gradient(90deg, #000 40%, #CDA54D 45%);                                         
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    position: sticky;
    top: 0.01%;
}

.menu img{
    margin-left: 6%;
    height: 100%;
    width: 10%;
}

.botonInicio {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100vh;
    margin-right: 7%;
}

.botonInicio a {
    height: 40px;
    width: 20%;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #CDA54D;
    border-radius: 5px;
    margin: 10px;
    font-size: 120%;
}

.botonInicio a:hover {
    background-color: #e1c17b;
    border: 2px solid #ffffff;
}

.botonInicio a:active { 
    background: #faaf4d;
  }

.encabezado h1 {
    font-size: 50px;
    color: #faaf4d;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.introduction {
    display: flex;           /* Aplica Flexbox a toda la sección */
    align-items: center;     /* Alinea verticalmente los elementos */
}

.introduction img {
    max-width: 30%;
    height: auto;
    margin-right: 20px;      /* Añade espacio entre la imagen y el texto */
    border-style: solid;
    border-width: 5px;
}

.introduction section {
    flex: 1;                 /* Permite que el contenido ocupe el espacio restante */
}

.introduction p {
    font-size: 30px;
    text-align: center;
    margin: 0;               /* Elimina el margen predeterminado del h2 */
}

.history h2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history img{
    width: 40%;
    height: auto;
    margin-left: 30%;
    border-width: 5px;
    border-style:solid;
}
.history p{
    font-size: 30px;
    text-align: center;
}

.missionAndVision {
    display: flex;           
    flex-direction: row-reverse;
    align-items: center;
}

.missionAndVision img {
    max-width: 30%;
    height: auto;
    margin-right: 20px;    
    border-style: solid;
    border-width: 5px;
}

.missionAndVision section {
    flex: 1;                 
}

.missionAndVision p {
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.missionAndVision h2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.img1 {
    width: 30%;
    height: auto;
}

.img2 {
    width: 30%;
    height: auto;
}

.img3 {
    width: 30%;
    height: auto;
}
