body{
    padding: 0%;
    margin: 0%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E9D8B7;
    color: #4b382a;
 
}
.menu {
    background: -webkit-linear-gradient(90deg, #000000,#141007,#a4843d,#a4843d,#cda54d);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #000000,#141007,#a4843d,#a4843d,#cda54d);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             

    width: 98.8vw;
    height: 15vh;
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0.01%;
    border-bottom-right-radius: 300px;
    border-bottom-left-radius: 300px;
}

.menu img {
    margin-left: 35%;
    height: 100%;
    width: 20%;
    transition-property: background-color, box-shadow;
    transition: transform 0.3s ease-in-out,filter 0.3s ease;
}

.menu img:hover {
    transform: scale(1.1);
    filter: brightness(1.2) contrast(1.1);
}

.botonInicio {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100vh;
    margin-right: 7%;
}

.botonInicio a {
    height: 40px;
    width: 20%;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(205, 165, 77,0);
    border-radius: 5px;
    margin: 10px;
    font-size: 120%;
}

.botonInicio a:hover {
    background-color: #e1c17b;
    border: 2px solid #ffffff;
}

.botonInicio a:active { 
    background: #faaf4d;
}


.bienvenida {
    text-align: center;
    font-size: 1.8rem;
    color: #6a4f37;
    margin: 20px 0;
}

.navegacion {
    background-color: #8c674a;
    padding: 10px 0;
    text-align: center;
}

.lista-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}



.enlace-nav {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.enlace-nav:hover {
    background-color: #ffffff;
    color: #8c674a;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  
}

.seccion {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.seccion:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00000033;
}

.contacto {
    text-align: center;
    padding: 50px 0;
    
}

.direccion {
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
    display: inline-block;

}


.contenedor{
 
    margin-top: 8%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px;
}

.img1 {
    width: 30%;
    height: auto;
}

.img2 {
    width: 30%;
    height: auto;
}

.img3 {
    width: 30%;
    height: auto;
}

.item {
    width: 30%; 
    text-align: center;
}

.item img {
    width: 100%; 
    height: auto;
    margin-bottom: 10px;
}

img {
    width: 98.8vw;
    height: auto;
    display: block;
    margin: auto; /* Centra la imagen */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


img:hover {
    transform: scale(1.1);
    opacity: 0.8; 
}
.item p {
    border: 2px solid #D8B982; 
    padding: 10px; 
    border-radius: 8px; 
    background-color: #E3C6A5 rgba(212, 212, 204, 0.8); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: justify;
}