body{
    background-color: #E9D8B7;
    padding: 0%;
    margin: 0%;
    animation: animacion 1s ease-in-out;
}
@keyframes animacion {
    from {
        filter: blur(20px);
        opacity: 0;
    }
}

.imagen {
    padding: 5vh 45%;
}

img {
    height: 100%;
    width: 100%;
    transition-property: background-color, box-shadow;
    transition: transform 0.3s ease-in-out,filter 0.3s ease;
    animation: animacion 0.9s ease-in-out;
}

img:hover {
    transform: scale(1.1);
    filter: brightness(1.2) contrast(1.1);
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Session {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 60%; 
    background-color: #ffffff;
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 50px 3px  #d1cec6;
}

.Session input {
    margin: 5px;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    border-bottom:2px #080808 solid;
    border-top:0px;
    border-left: 0px;
    border-right: 0px;
    transition: background-color;
}
.Session input:hover {
    background-color: #eaeaea;
}

.Session a {
    height: 40px;
    width: 25%;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #cda54d;
    border-radius: 5px;
    margin: 10px;
    font-size: 120%;
    text-align: center;
    box-shadow: 1px 1px 5px 3px  #d1cec6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}
.Session a:hover {
    background-color: #080808;
    border: 2px solid #ffffff;
    box-shadow: 0 4px 8px rgba(71, 70, 60, 0.999);
}

.Session a:active { 
    background: #faaf4d;
  }


